.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 130px;
    height: 150px;
    padding: 5px;
}

.block h3,
.block p {
    margin: 0;
}

.block p {
    text-align: center;
}
